click>=8.1.8
jinja2>=2.11.3
keyring==25.6.0
PyGithub
jsonpath_ng
jsonschema
pendulum
pyyaml
packaging
rich
rich_click
semver
tabulate
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
